* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: "Outfit", sans-serif;
    font-style: black;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(35deg, rgba(154,17,125,0.9971638313528537) 11%, rgba(89,69,186,1) 52%, rgba(81,126,198,1) 72%, rgba(17,225,255,1) 100%);
}

.container {
    text-align: center;
}

h1 {
    font-family: "Outfit", sans-serif;
    font-style: black;
    font-size: 2rem;
    margin-bottom: 20px;
    color: white;
    padding-bottom: 5%;
}

#image-container {
    width: 100%;
    max-width: 500px;
    height: 400px;
    margin-bottom: 20px;
    position: relative;
}

#image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10%;
}

#try-again-btn {
    font-family: "Outfit", sans-serif;
    font-style: black;
    color: white;
    padding: 5% 8%;
    text-align: center;
    margin: auto;
    font-size: 2rem;
    background-color: rgba(154,17,125,0.9971638313528537);
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

#try-again-btn:hover {
    color: rgba(154,17,125,0.9971638313528537);
    background-color: white;
    text-align: center;
    margin: auto;
}

/* Mute/Unmute button styles */
#mute-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(154,17,125,0.9971638313528537);
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
}

#mute-btn:hover {
    background-color: rgba(154,17,125,0.9971638313528537);
}

.scrolling-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    opacity: 50%;
    white-space: nowrap; /* Prevent line breaks */
    overflow: hidden; /* Hide overflow */
}

.scrolling-footer p {
    display: inline-block;
    padding: 10px 0; /* Space around the text */
    animation: scroll 25s linear infinite; /* Animation for scrolling */
}

@keyframes scroll {
    from {
        transform: translateX(100%); /* Start off-screen to the right */
    }
    to {
        transform: translateX(-100%); /* End off-screen to the left */
    }
}

/* Responsive */
@media (max-width: 768px) {
    #image-container {
        width: 90%;
        height: auto;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -webkit-transform: translate(-50%, 0);
    }

    #image {
        height: auto;
    }
}